
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    width: 100%;
    height: 500px;
    background-image: url('../wallpaperbetter.com_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0px 150px 30px -30px rgba(38, 41, 36, 0.766)
}
.liste{
    list-style: none;
    display: flex;
    gap: 50px;
  margin-left: 35%;
    position: absolute;
 
    


}
.liste1,.liste2,.liste3{
    margin-top: 50px;
    padding:  10px;
    margin-right: 30px;
    margin-left: -50px;
    transition: transform 0.3s ease;
}
.liste1:hover{
  transform: scale(1.2);
}
.liste2:hover{
  transform: scale(1.2);
}
.liste3:hover{
  transform: scale(1.2);
}
.liste li a{
    text-decoration: none;
    color:white;
   
}
.material-icons:hover{
  transform: scale(1.2)
}
.material-icons{
   margin-left: 72%;
   margin-top: 45px;
   transition: transform 0.3s ease;
 
}
.logo{
    width: 150px;
    height: 150px;
    margin-top: -30px;
    position: absolute;
  
}
header p{
    position: absolute;
    color: rgb(0, 0, 0);
    margin-top: 280px;
    margin-left: 50px;
    font-weight: 700;
}
.film-button:hover{
  transform: scale(1.2)
}
.planning-button:hover{
  transform: scale(1.2)
}
.film-button{
    width: 150px;
    height: 30px;
   
    border: solid red;
    color: white;
    background-color: transparent;
    box-shadow: 6px 6px 10px rgb(26, 25, 25);
    border-radius: 50px;
    margin-top: 300px;
    margin-left: 50px;
    transition: transform 0.3s ease;
    
}
.planning-button{
    width: 150px;
    height: 30px;
   
    border: solid red;
    color: white;
    background-color: transparent;
    box-shadow: 6px 6px 10px rgb(26, 25, 25);
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.carousel-item {
    position: relative;
    text-align: center; /* Centrer le texte horizontalement */
  }
  
  .carousel-item h1,
  .carousel-item p {
    position: absolute;
    z-index: 10; /* Place le texte au-dessus de l'image */
    color: white; /* Contraste sur l'image */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour lisibilité */
  }
  
  .carousel-item h1 {
    top: 20%; /* Place le titre en haut de l'image */
    left: 50%;
    transform: translateX(210%);
    font-size: 2.5rem;
  }
  
  .carousel-item p {
    bottom: 10%; /* Place le paragraphe en bas de l'image */
    left: 50%;
    transform: translateX(85%);
    width: 70%; /* Limite la largeur pour lisibilité */
    font-size: 1rem;
  }

  .decoration-propos{
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, rgb(0, 0, 0) 30%, rgb(255, 0, 0) 90%);;
    margin-top: -100px;
    position: absolute;
    z-index: 100;
    box-shadow: 4px 4px 15px rgb(55, 53, 53);
  
  }
  .titre-propos{
    z-index: 101;
    position: absolute;
    margin-top: -60px;
    color: red;
    margin-left: 50px;
  }
  .vivez-festival{
    width: 520px;
    margin-left: 30%;
    background-color: red;
    color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0);
    border-radius:50px;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    box-shadow: 3px 3px 15px rgb(44, 43, 43);
  }
  .film-planning-int{
  display: flex;
  margin: 50px 0px 0px 430px;
  gap: 10%;
  color: red;
  font-size: 40px;
  
  
    
  
  }
  .fim-img{
    
    transition: transform 0.3s ease;
  }
  .fim-img:hover{
    transform: scale(1.2);
  }
  .planning-img{
    transition: transform 0.3s ease;
  }
  .planning-img:hover{
    transform: scale(1.2);
  }
  .h3-1{
    position: absolute;
    margin-top: 340px;
    margin-left: 80px;
  }
  
  .h3-2{
    position: absolute;
    margin-top: 340px;
    margin-left: 345px;
  }
  .nos-jury{
 gap: 7%;
 display: flex;
 margin-left: 10%;
 margin-top: 50px;
 
  }
  .jury{
    width: 520px;
    margin-left: 30%;
    background-color: red;
    color: rgb(255, 255, 255);
    border: solid rgb(0, 0, 0);
    border-radius:50px;
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
    box-shadow: 3px 3px 15px rgb(44, 43, 43);

  }
  footer{
    margin-top: 200px;
    height: 100px;
    background-color: red;
  
    color: white;
    

  }
  footer h4{
    position:absolute;
    margin-top: 40px;
    font-size: 15px;
    margin-left: 43%;
  }
  .logo- {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 75%;
    gap: 35%;
  }
  .facebook{
    height: 27px;
    margin: 5px;
  }

  .footer-form {
    position: absolute;
   height: 150px;
    
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajustez la largeur selon vos besoins */
   margin-top: -50px;
   border: solid red;
}


.comment-form {
    display: flex;
    flex-direction: column;
    
}



 textarea {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
textarea::placeholder{
  font-size: 10px;
}
 textarea:focus {
    border-color: #007BFF;
    outline: none;

}

.button- {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-:hover {
    background-color: #218838;
}